.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .profile {
  margin: 0 auto;
  -webkit-animation: scale-up-center 0.4s;
          animation: scale-up-center 0.4s;
}

.about .profile .lines {
  width: 50px;
  -webkit-animation: blink 1s steps(2, start) infinite;
          animation: blink 1s steps(2, start) infinite;
}

.about .profile .bubble {
  text-align: center;
  margin-left: 0px;
  margin-top: -120px;
}

.about .profile .bubble .me {
  max-width: 100%;
  max-height: 100%;
}

.about .formation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0%;
  width: auto;
}

.about .formation .birth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 1024px) {
  .about .formation .birth {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (max-width: 1024px) {
  .about .formation .birth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 481px) {
  .about .formation .birth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.about .formation .birth .first {
  position: relative;
  padding: 4rem 1.5rem 4.75rem;
  border-block: black 2px solid;
  background-color: #BED3C3;
  background-repeat: no-repeat;
  background-position: right bottom;
  color: #000000;
}

@media only screen and (min-width: 1024px) {
  .about .formation .birth .first {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .about .formation .birth .first {
    width: auto;
  }
}

@media only screen and (max-width: 481px) {
  .about .formation .birth .first {
    width: auto;
  }
}

.about .formation .birth .first h2 {
  text-align: center;
  font-family: 'Mabry pro', sans-serif;
  font-weight: 300;
}

.about .formation .birth .first p {
  margin: auto;
  font-size: 1.188rem;
  font-weight: normal;
  font-family: 'Mabry pro', sans-serif;
  line-height: 1.4;
  letter-spacing: 0.005em;
}

.about .formation .birth .first .cake {
  left: 90%;
  position: absolute;
  top: -50px;
  position: fixed;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  color: #111;
  font-size: 50px;
  background-color: #f7f2f2;
  border: #000000 solid 2px;
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
  -webkit-animation: swing 3s linear infinite alternate;
          animation: swing 3s linear infinite alternate;
}

.about .formation .school {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 1024px) {
  .about .formation .school {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (max-width: 1024px) {
  .about .formation .school {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 481px) {
  .about .formation .school {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.about .formation .school .second {
  padding: 4rem 1.5rem 4.75rem;
  background-color: #EBACA2;
  background-repeat: no-repeat;
  background-position: right bottom;
  color: #000000;
}

@media only screen and (min-width: 1024px) {
  .about .formation .school .second {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .about .formation .school .second {
    width: auto;
    border-block: black 2px solid;
  }
}

@media only screen and (max-width: 481px) {
  .about .formation .school .second {
    width: auto;
    border-block: black 2px solid;
  }
}

.about .formation .school .second h2 {
  text-align: left;
  font-family: 'Mabry pro', sans-serif;
  font-weight: 300;
}

.about .formation .school .second p {
  text-align: left;
  font-size: 1.188rem;
  font-weight: normal;
  font-family: 'Mabry pro', sans-serif;
  line-height: 1.4;
  letter-spacing: 0.005em;
}

.about .formation .school .second .javascript {
  text-align: left;
  position: fixed;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateZ(15deg);
          transform: rotateZ(15deg);
  color: #111;
  border: #000000 solid 2px;
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
  -webkit-animation: swing 3s linear infinite alternate;
          animation: swing 3s linear infinite alternate;
}

@media only screen and (min-width: 1024px) {
  .about .formation .school .second .javascript {
    left: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  .about .formation .school .second .javascript {
    left: 80%;
  }
}

@media only screen and (max-width: 481px) {
  .about .formation .school .second .javascript {
    left: 80%;
  }
}

.about .formation .school .second .php {
  text-align: left;
  position: fixed;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateZ(15deg);
          transform: rotateZ(15deg);
  color: #111;
  border: #000000 solid 2px;
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
  -webkit-animation: swing 2s linear infinite alternate;
          animation: swing 2s linear infinite alternate;
}

@media only screen and (min-width: 1024px) {
  .about .formation .school .second .php {
    left: 30%;
  }
}

@media only screen and (max-width: 1024px) {
  .about .formation .school .second .php {
    left: 60%;
  }
}

@media only screen and (max-width: 481px) {
  .about .formation .school .second .php {
    left: 60%;
  }
}

.about .formation .school .study {
  background-color: #FFDCAB;
  z-index: -1;
}

@media only screen and (min-width: 1024px) {
  .about .formation .school .study {
    width: 60%;
    border-left: black 2px solid;
  }
}

@media only screen and (max-width: 1024px) {
  .about .formation .school .study {
    width: auto;
  }
}

@media only screen and (max-width: 481px) {
  .about .formation .school .study {
    width: auto;
  }
}

.about .formation .atm {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 1024px) {
  .about .formation .atm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 1024px) {
  .about .formation .atm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 481px) {
  .about .formation .atm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.about .formation .atm .third {
  position: relative;
  z-index: 0;
  padding: 4rem 1.5rem 4.75rem;
  border-top: black 2px solid;
  background-color: #CE6A6B;
  background-repeat: no-repeat;
  background-position: right bottom;
  color: #000000;
}

@media only screen and (min-width: 1024px) {
  .about .formation .atm .third {
    width: 100%;
    border-left: black 2px solid;
  }
}

@media only screen and (max-width: 1024px) {
  .about .formation .atm .third {
    width: auto;
    border-block: black 2px solid;
  }
}

@media only screen and (max-width: 481px) {
  .about .formation .atm .third {
    width: auto;
    border-block: black 2px solid;
  }
}

.about .formation .atm .third h2 {
  text-align: left;
  font-family: 'Mabry pro', sans-serif;
  font-weight: 300;
}

.about .formation .atm .third h3 {
  text-align: center;
  font-family: 'Mabry pro', sans-serif;
  font-weight: 300;
}

.about .formation .atm .third p {
  text-align: left;
  font-size: 1.188rem;
  font-weight: normal;
  font-family: 'Mabry pro', sans-serif;
  line-height: 1.4;
  letter-spacing: 0.005em;
}

.about .formation .atm .third .css-button-retro--green {
  vertical-align: middle;
  text-align: center;
  top: 1.5rem;
  min-width: 20%;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  font-family: 'Mabry pro', sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid #000;
  color: #000;
  background: transparent;
}

.about .formation .atm .third .css-button-retro--green .contactMe {
  text-decoration: none;
  color: #000;
}

.about .formation .atm .third .css-button-retro--green:hover:after {
  top: 0;
  left: 0;
}

.about .formation .atm .third .css-button-retro--green:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #80ed99;
}

.about .formation .atm .workingAtHome {
  background-color: #FFDCAB;
  z-index: -1;
}

@media only screen and (min-width: 1024px) {
  .about .formation .atm .workingAtHome {
    width: 40%;
    border-top: black 2px solid;
  }
}

@media only screen and (max-width: 1024px) {
  .about .formation .atm .workingAtHome {
    width: auto;
  }
}

@media only screen and (max-width: 481px) {
  .about .formation .atm .workingAtHome {
    width: auto;
  }
}

@-webkit-keyframes blink {
  0% {
    -webkit-transform: scale(0.25) translateY(900px) translateX(-700px) rotateZ(-110deg);
            transform: scale(0.25) translateY(900px) translateX(-700px) rotateZ(-110deg);
  }
  100% {
    -webkit-transform: translateY(-50px) translateX(120px) rotateZ(30deg);
            transform: translateY(-50px) translateX(120px) rotateZ(30deg);
  }
}

@keyframes blink {
  0% {
    -webkit-transform: scale(0.25) translateY(900px) translateX(-700px) rotateZ(-110deg);
            transform: scale(0.25) translateY(900px) translateX(-700px) rotateZ(-110deg);
  }
  100% {
    -webkit-transform: translateY(-50px) translateX(120px) rotateZ(30deg);
            transform: translateY(-50px) translateX(120px) rotateZ(30deg);
  }
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=about.css.map */