@mixin devices($breakpoint){
    @if $breakpoint == laptop {
        @media only screen and (min-width: 1024px) {
            @content
        }
    };
    @if $breakpoint == tablet {
        @media only screen and (max-width: 1024px) {
            @content
        }
    };
    @if $breakpoint == mobile {
        @media only screen and (max-width: 481px) {
          @content;
        }
    }
}


.about{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .profile{
        margin: 0 auto;
        animation:scale-up-center 0.4s;

        .lines{
            width: 50px;
            animation: blink 1s steps(2, start) infinite;

        }
        .bubble{
            text-align: center;
            // position: relative;
            margin-left: 0px;
            margin-top: -120px;
            
            .me{
                max-width:100%;
            max-height:100%;
            }
        }
        

    }
    .formation{

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        margin: 0%;
        width: auto;
        
        .birth{
            display: flex;
            
            @include devices(laptop) {
                flex-direction: row;
            }
            @include devices(tablet) {
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            @include devices(mobile) {
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            .first{
                @include devices(laptop) {
                    width: 100%;
                }
                @include devices(tablet) {
                    width: auto;

                }
                @include devices(mobile) {
                    width: auto;

                }
                position: relative;
                padding:4rem 1.5rem 4.75rem ;
                border-block: black 2px solid;
                background-color: #BED3C3;
                // background-image: url(../svg/about/hexagon.svg);
                background-repeat: no-repeat;
                background-position: right bottom;
                color: #000000;
                h2{
                    text-align: center;
                    font-family: 'Mabry pro', sans-serif;
                    font-weight: 300;
    
                }
                p{
                    margin: auto;
                    font-size: 1.188rem;
                    font-weight: normal;   
                    font-family: 'Mabry pro', sans-serif;
                    line-height: 1.4;
                    letter-spacing: 0.005em;
    
                }
                .cake{
                    left: 90%;
                    position: absolute;
                    top : -50px;
                    position: fixed;
                    transform-origin: center;
                    transform: rotateZ(-45deg);
                    color: #111;
                    font-size: 50px;
                    background-color: #f7f2f2;
                    border: #000000 solid 2px;
                    box-shadow: 5px 5px 0px rgb(0, 0, 0);
                    animation: swing 3s linear infinite alternate;
                    
                }
            }
            
        }
        .school{
            display: flex;

            @include devices(laptop) {
                flex-direction: row;
            }
            @include devices(tablet) {
                flex-direction: column-reverse;
                justify-content: center;
                text-align: center;
            }
            @include devices(mobile) {
                flex-direction: column-reverse;
                justify-content: center;
                text-align: center;
            }
            .second{

                @include devices(laptop) {
                    width: 100%;
                }
                @include devices(tablet) {
                    width: auto;
                    border-block: black 2px solid;

                }
                @include devices(mobile) {
                    width: auto;
                    border-block: black 2px solid;

                }
                padding:4rem 1.5rem 4.75rem ;
                background-color: #EBACA2;
                // background-image: url(../svg/about/hexagon.svg);
                background-repeat: no-repeat;
                background-position: right bottom;
                color: #000000;
                h2{
                    text-align: left;
                    font-family: 'Mabry pro', sans-serif;
                    font-weight: 300;
    
                }
                p{
                    text-align: left;
                    font-size: 1.188rem;
                    font-weight: normal;   
                    font-family: 'Mabry pro', sans-serif;
                    line-height: 1.4;
                    letter-spacing: 0.005em;
    
                }
                .javascript{
                    @include devices(laptop) {
                        left: 90%;
                    }
                    @include devices(tablet) {
                        left: 80%;
                    }
                    @include devices(mobile) {
                        left: 80%;
                    }
                    text-align: left;
                    position: fixed;
                    transform-origin: center;
                    transform: rotateZ(15deg);
                    color: #111;
                    border: #000000 solid 2px;
                    box-shadow: 5px 5px 0px rgb(0, 0, 0);
                    animation: swing 3s linear infinite alternate;
                    
                }
                .php{
                    @include devices(laptop) {
                        left: 30%;
                    }
                    @include devices(tablet) {
                        left: 60%;
                    }
                    @include devices(mobile) {
                        left: 60%;
                    }
                    text-align: left;
                    position: fixed;
                    transform-origin: center;
                    transform: rotateZ(15deg);
                    color: #111;
                    
                    border: #000000 solid 2px;
                    box-shadow: 5px 5px 0px rgb(0, 0, 0);
                    animation: swing 2s linear infinite alternate;
                }
            }
            .study{
                @include devices(laptop) {
                    width: 60%;
                    border-left: black 2px solid;

                }
                @include devices(tablet) {
                    width: auto;

                }
                @include devices(mobile) {
                    width: auto;

                }
                background-color: #FFDCAB;
                z-index: -1;
            }
        }
        .atm{
            position: relative;
            display: flex;

            @include devices(laptop) {
                flex-direction: row-reverse;
            }
            @include devices(tablet) {
                flex-direction: column-reverse;
                justify-content: center;
                text-align: center;
            }
            @include devices(mobile) {
                flex-direction: column-reverse;
                justify-content: center;
                text-align: center;
            }
            .third{
                @include devices(laptop) {
                    width: 100%;
                    border-left: black 2px solid;

                }
                @include devices(tablet) {
                    width: auto;
                    border-block: black 2px solid;

                }
                @include devices(mobile) {
                    width: auto;
                    border-block: black 2px solid;

                }
                position: relative;
                z-index: 0;
                padding:4rem 1.5rem 4.75rem ;
                border-top: black 2px solid;
                background-color: #CE6A6B;
                // background-image: url(../svg/about/hexagon.svg);
                background-repeat: no-repeat;
                background-position: right bottom;
                color: #000000;
                h2{
                    text-align: left;
                    font-family: 'Mabry pro', sans-serif;
                    font-weight: 300;
    
                }
                h3{
                    text-align: center;
                    font-family: 'Mabry pro', sans-serif;
                    font-weight: 300;
    
                }
                p{
                    text-align: left;
                    font-size: 1.188rem;
                    font-weight: normal;   
                    font-family: 'Mabry pro', sans-serif;
                    line-height: 1.4;
                    letter-spacing: 0.005em;
    
                }
                .css-button-retro--green {
                    vertical-align: middle;

                    text-align: center;
                    top: 1.5rem;
                    min-width: 20%;
                    height: 40px;
                    color: #fff;
                    padding: 5px 10px;
                    font-weight: bold;
                    font-family: 'Mabry pro', sans-serif;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    position: relative;
                    display: inline-block;
                    outline: none;
                    border: 2px solid #000;
                    color: #000;
                    background: transparent;
                    .contactMe{
                        text-decoration: none;
                        color: #000;
                    }
                  }

                  .css-button-retro--green:hover:after {
                    top: 0;
                    left: 0;
                  }
                  .css-button-retro--green:after {
                    content: "";
                    width: 100%;
                    z-index: -1;
                    position: absolute;
                    height: 100%;
                    top: 5px;
                    left: 5px;
                    transition: 0.2s;
                    background-color: #80ed99;
                  }
            }
            .workingAtHome{
                @include devices(laptop) {
                    width: 40%;
                    border-top: black 2px solid;

                }
                @include devices(tablet) {
                    width: auto;

                }
                @include devices(mobile) {
                    width: auto;

                }
                background-color: #FFDCAB;
                z-index: -1;
            }
        }
        
    }
    
}

//ABOUT

@keyframes blink {
    0%{
        transform:   scale(0.25) translateY(900px) translateX(-700px) rotateZ(-110deg)  ;
    }
    
    100%{
        transform:   translateY(-50px)translateX(120px)  rotateZ(30deg) ;
    }
}

@keyframes swing {
    0% {
        transform:   rotate(-5deg);
    }
    100% {
        transform:  rotate(5deg);
    }
}
@keyframes scale-up-center{

    0%{
        transform:scale(.5)
        
    }
    
    100%{
        transform:scale(1)
    } 
}
