.about{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .profile{
        margin: 0 auto;
        
        .lines{
            width: 50px;
            animation: blink 1s steps(2, start) infinite;

        }
        .bubble{
            text-align: center;
            // position: relative;
            margin-left: 0px;
            margin-top: -120px;
            
            .me{
                max-width:100%;
            max-height:100%;
            }
        }
        

    }
    .formation{

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        margin: 0%;
        width: auto;
        .first{
            padding:4rem 1.5rem 4.75rem ;
            border-block: black 2px solid;
            background-color: #BED3C3;
            // background-image: url(../svg/about/hexagon.svg);
            background-repeat: no-repeat;
            background-position: right bottom;
            color: #000000;
            h2{
                text-align: center;
                font-family: 'Mabry pro', sans-serif;
                font-weight: 300;

            }
            p{
                text-align: center;
                font-size: 1.188rem;
                font-weight: normal;   
                font-family: 'Mabry pro', sans-serif;
                line-height: 1.4;
                letter-spacing: 0.005em;

            }
            .cake{
                left: 35vh;
                top : -50px;
                position: fixed;
                transform-origin: center;
                transform: rotateZ(-45deg);
                color: #111;
                font-size: 50px;
                background-color: #f7f2f2;
                border: #000000 solid 2px;
                box-shadow: 5px 5px 0px rgb(0, 0, 0);
                animation: swing 3s linear infinite alternate;
                
            }
        }
        .study{
            background-color: #FFDCAB;
            z-index: -1;
            width: auto;
        }
        .second{
            padding:4rem 1.5rem 4.75rem ;
            border-block: black 2px solid;
            background-color: #EBACA2;
            // background-image: url(../svg/about/hexagon.svg);
            background-repeat: no-repeat;
            background-position: right bottom;
            color: #000000;
            h2{
                text-align: left;
                font-family: 'Mabry pro', sans-serif;
                font-weight: 300;

            }
            p{
                text-align: left;
                font-size: 1.188rem;
                font-weight: normal;   
                font-family: 'Mabry pro', sans-serif;
                line-height: 1.4;
                letter-spacing: 0.005em;

            }
            .javascript{
                text-align: left;
                left: 5vh;
                position: fixed;
                transform-origin: center;
                transform: rotateZ(15deg);
                color: #111;
                border: #000000 solid 2px;
                box-shadow: 5px 5px 0px rgb(0, 0, 0);
                animation: swing 3s linear infinite alternate;
                
            }
            .php{
                text-align: left;
                left: 25vh;
                position: fixed;
                transform-origin: center;
                transform: rotateZ(15deg);
                color: #111;
                
                border: #000000 solid 2px;
                box-shadow: 5px 5px 0px rgb(0, 0, 0);
                animation: swing 2s linear infinite alternate;
                
            }
           
        }
        .third{
            padding:4rem 1.5rem 4.75rem ;
            border-block: black 2px solid;
            background-color: #CE6A6B;
            // background-image: url(../svg/about/hexagon.svg);
            background-repeat: no-repeat;
            background-position: right bottom;
            color: #000000;
            h2{
                text-align: left;
                font-family: 'Mabry pro', sans-serif;
                font-weight: 300;

            }
            p{
                text-align: left;
                font-size: 1.188rem;
                font-weight: normal;   
                font-family: 'Mabry pro', sans-serif;
                line-height: 1.4;
                letter-spacing: 0.005em;

            }
           
        }
        .workingAtHome{
            background-color: #FFDCAB;
            z-index: -1;
            width: auto;
        }
        .contactMe{
            position: absolute;
            margin: auto;
            width: 18rem;
            padding: 1.2rem 1.5rem;
            font-family: 'Mabry pro', sans-serif;
            font-size: 1.1rem;
            line-height: 1.3;
            letter-spacing: 0.005em;
            border: black 4px solid;
            background-color: #000000;
            color: rgb(255, 255, 255);
            text-decoration: none;
            animation: first 3s linear infinite alternate;
            padding-inline: 0px;
            z-index: 2;

        }
        .triple:hover{
            .contactMe{
                transform: translate3d(-1rem, -1rem, 0px);
            }
            .shadowOne{
                transform: translate3d(-0.5rem, -0.5rem, 0px);
            }
        }
        .shadowOne{
            position: absolute;
            margin: auto;
            width: 18rem;
            padding: 1.2rem 1.5rem;
            font-family: 'Mabry pro', sans-serif;
            font-size: 1.1rem;
            line-height: 1.3;
            letter-spacing: 0.005em;
            border: black 4px solid;
            background-color: #212E53;
            color: rgb(255, 255, 255);
            text-decoration: none;
            animation: first 3s linear infinite alternate;
            padding-inline: 0px;
            z-index: 1;
        }
        
        .shadowTwo{
            position: absolute;
            margin: auto;
            width: 18rem;
            padding: 1.2rem 1.5rem;
            font-family: 'Mabry pro', sans-serif;
            font-size: 1.1rem;
            line-height: 1.3;
            letter-spacing: 0.005em;
            border: black 4px solid;
            background-color: #4A919E;
            color: rgb(255, 255, 255);
            text-decoration: none;
            animation: first 3s linear infinite alternate;
            padding-inline: 0px;
            z-index: 0;

        }
    }
    
}

//ABOUT

@keyframes blink {
    0%{
        transform:   scale(0.25) translateY(900px) translateX(-700px) rotateZ(-110deg)  ;
    }
    
    100%{
        transform:   translateY(-50px)translateX(120px)  rotateZ(30deg) ;
    }
}

@keyframes swing {
    0% {
        transform:   rotate(-5deg);
    }
    100% {
        transform:  rotate(5deg);
    }
}

@keyframes triple{

}