@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

* {
    margin-top: 0;
  }
body{
    margin: 0;
    font-family: 'Inria Sans', sans-serif;
    background: #FFDCAB;
    font-size: 18px;
    height: 100vh;
}

/*
*   Responsive & static RN
*/
.container{
    margin: 0 auto;
    text-align: center;
    .header{
        

        display: flex;
        flex-direction: column;
        justify-content: center;
        .siteName{
            p {
                padding-top: 10px;
                font-size: 40px;
                margin: 0 auto;
                background-color: #ffffff;
                border-bottom: #000000 3px solid;
                color: rgb(0, 0, 0);
                font-family: 'Bebas Neue', cursive;
            }
        }
        .navbar{
            padding-block: 5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .navlink{
                color: black;
                text-decoration: none;
                font-family: 'Bebas Neue', cursive;
                font-size: 25px;
                margin: 0.3em ;
                padding: 5px;
                background-color: #FBC904;
                border: rgb(0, 0, 0) 3px solid;
                border-radius: 5px;
                box-shadow: 3px 3px 0px rgb(0, 0, 0);
            }
        }
        
    }
    .body{
        padding: 5%;
        display: flex;
        flex-direction: column;
        .main{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .welcomeText{
                padding-block: 50px;

                text-align: center;
                h1{
                    font-family: 'Bebas Neue', cursive;
                    font-size: 50px;
                    font-weight: lighter;
                    border: black 2px solid;
                    background-color: whitesmoke;
                    // border-radius: 5px;
                    box-shadow: 5px 5px 0px rgb(0, 0, 0);
                }
                
            }
            // Media queries ?
            .book{
                display: none;
            }
            
        }
        .checkButton{
            padding-block: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .arrow{
                transform: rotateX(180deg) rotateZ(10deg);
            }
            .checkLink{
                font-family: 'Bebas Neue', cursive;
                font-size: 40px;
                font-weight: lighter;
                border: black 4px solid;
                background-color: #EBB0F6;
                color: black;
                border-radius: 5px;
                text-decoration: none;
                box-shadow: 5px 5px 0px rgb(0, 0, 0);
                transform: rotateZ(-8deg) translateX(-20px);
                // @include key_frame("moving");

                
            }
        }
        .side{
            padding-block: 50px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            .informations{
                p{
                    margin: 5%;
                }
            }
            .separator{
                width: 100%;
                hr{
                    border: 0;
                    border: 1px solid #000000;
                    width: 100%;
                }
            }
            .news{
                flex-direction: column;
                .first{
                    margin: 5%;
                    h3{
                        border-bottom: black 4px solid;
                        background-color: #CEF4AE;
                        color: black;
                    }
                    border: black 4px solid;
                    background-color: #ffffff;
                    color: black;
                    border-radius: 5px;
                    box-shadow: 5px 5px 0px rgb(0, 0, 0);
                }
                .second{
                    margin: 5%;
                    h3{
                        border-bottom: black 4px solid;
                        background-color: #B7ECEC;
                        color: black;
                    }
                    border: black 4px solid;
                    background-color: #ffffff;
                    color: black;
                    border-radius: 5px;
                    box-shadow: 5px 5px 0px rgb(0, 0, 0);
                }
            }
        }
    }
    
}

// Animation | Keyframe
//TODO: Hmm pas sûr là les anims

@mixin key_frame($name: "default_anim", $duration: 333ms, $count: infinit) {
    @keyframes default_anim {
        0% {
            bottom: -7px;
        }
        100% {
            bottom: 0;
        }
    }

    @keyframes moving {
        0% {
            color: white;
        }
        100% {
            color: #000000;
        }
    }

    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $count;
}