@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");
* {
  margin-top: 0;
}

body {
  margin: 0;
  font-family: 'Inria Sans', sans-serif;
  background: #FFDCAB;
  font-size: 18px;
  height: 100vh;
  background-size: cover;
  background-image: url(../svg/background.svg);
  background-attachment: fixed;
}

/*
*   Responsive & static RN
*/
.container {
  /** ABOUT Page**/
}

.container .header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .header .siteName p {
  padding-top: 10px;
  font-size: 40px;
  margin: 0 auto;
  background-color: #ffffff;
  border-bottom: #000000 3px solid;
  color: black;
  font-family: 'Bebas Neue', cursive;
}

.container .header .navbar {
  -webkit-animation: scale-up-center 0.4s;
          animation: scale-up-center 0.4s;
  padding-block: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .header .navbar .navlink {
  color: black;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  margin: 0.3em;
  padding: 5px;
  background-color: #FBC904;
  border: black 3px solid;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 0px black;
          box-shadow: 3px 3px 0px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .header .navbar .navlink:hover {
  background-color: #fba504;
  -webkit-box-shadow: 1px 1px 0px black;
          box-shadow: 1px 1px 0px black;
}

.container .homepage {
  margin: 0 auto;
  text-align: center;
}

.container .homepage .body {
  padding-inline: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .homepage .body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: scale-up-center 0.4s;
          animation: scale-up-center 0.4s;
}

.container .homepage .body .main .welcomeText h1 {
  padding: 2%;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
  border: black 2px solid;
  background-color: whitesmoke;
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
}

.container .homepage .body .main .book {
  display: none;
}

.container .homepage .body .checkButton {
  padding-block: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: scale-up-center 0.4s;
          animation: scale-up-center 0.4s;
}

.container .homepage .body .checkButton .arrow {
  -webkit-transform: rotateX(180deg) rotateZ(10deg) translateX(-30px) translateY(30px);
          transform: rotateX(180deg) rotateZ(10deg) translateX(-30px) translateY(30px);
}

.container .homepage .body .checkButton .arrow path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  -webkit-animation: dash 5s linear infinite;
          animation: dash 5s linear infinite;
}

.container .homepage .body .checkButton .checkLink {
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  font-weight: lighter;
  border: black 4px solid;
  background-color: #EBB0F6;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
  -webkit-transform: rotateZ(-8deg) translateX(-50px);
          transform: rotateZ(-8deg) translateX(-50px);
  -webkit-animation: default_anim 3s linear infinite alternate;
          animation: default_anim 3s linear infinite alternate;
  padding-inline: 0px;
}

.container .homepage .body .side {
  -webkit-animation: scale-up-center 0.4s;
          animation: scale-up-center 0.4s;
  padding-block: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .homepage .body .side .informations p {
  margin: 5%;
}

.container .homepage .body .side .separator {
  width: 100%;
}

.container .homepage .body .side .separator hr {
  border: 0;
  border: 1px solid #000000;
  width: 100%;
}

.container .homepage .body .side .news {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .homepage .body .side .news .first {
  margin: 5%;
  text-align: left;
  border: black 4px solid;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
}

.container .homepage .body .side .news .first .newsTitle {
  padding-inline: 5%;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  border-bottom: black 4px solid;
  background-color: #CEF4AE;
  color: black;
}

.container .homepage .body .side .news .first .contentNews {
  padding-inline: 5%;
}

.container .homepage .body .side .news .first .contentNews .subTitleNews {
  text-align: left;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: black;
}

.container .homepage .body .side .news .second {
  margin: 5%;
  text-align: left;
  border: black 4px solid;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
}

.container .homepage .body .side .news .second .newsTitle {
  padding-inline: 5%;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  border-bottom: black 4px solid;
  background-color: #B7ECEC;
  color: black;
}

.container .homepage .body .side .news .second .contentNews {
  padding-inline: 5%;
}

.container .homepage .body .side .news .second .contentNews .subTitleNews {
  text-align: left;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: black;
}

.container .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .about .profile {
  margin: 0 auto;
}

.container .about .profile .lines {
  width: 50px;
  -webkit-animation: blink 1s steps(2, start) infinite;
          animation: blink 1s steps(2, start) infinite;
}

.container .about .profile .bubble {
  text-align: center;
  margin-left: 0px;
  margin-top: -120px;
}

.container .about .formation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 5%;
  width: auto;
  height: 50;
  padding: 10px;
  border: black 4px solid;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
  background-color: #B926D1;
  background-image: url(../svg/about/hexagon.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  color: #E3F1FC;
}

.container .about .formation p {
  font-size: 20px;
}

@-webkit-keyframes default_anim {
  0% {
    -webkit-transform: rotateZ(-8deg) translateX(-50px) translateY(0px);
            transform: rotateZ(-8deg) translateX(-50px) translateY(0px);
    -webkit-box-shadow: 5px 5px 0px black;
            box-shadow: 5px 5px 0px black;
  }
  100% {
    -webkit-transform: rotateZ(-8deg) translateX(-50px) translateY(5px);
            transform: rotateZ(-8deg) translateX(-50px) translateY(5px);
    -webkit-box-shadow: 10px 10px 0px black;
            box-shadow: 10px 10px 0px black;
  }
}

@keyframes default_anim {
  0% {
    -webkit-transform: rotateZ(-8deg) translateX(-50px) translateY(0px);
            transform: rotateZ(-8deg) translateX(-50px) translateY(0px);
    -webkit-box-shadow: 5px 5px 0px black;
            box-shadow: 5px 5px 0px black;
  }
  100% {
    -webkit-transform: rotateZ(-8deg) translateX(-50px) translateY(5px);
            transform: rotateZ(-8deg) translateX(-50px) translateY(5px);
    -webkit-box-shadow: 10px 10px 0px black;
            box-shadow: 10px 10px 0px black;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 2000;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 2000;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes blink {
  0% {
    -webkit-transform: scale(0.25) translateY(900px) translateX(-700px) rotateZ(-110deg);
            transform: scale(0.25) translateY(900px) translateX(-700px) rotateZ(-110deg);
  }
  100% {
    -webkit-transform: translateY(-50px) translateX(120px) rotateZ(30deg);
            transform: translateY(-50px) translateX(120px) rotateZ(30deg);
  }
}

@keyframes blink {
  0% {
    -webkit-transform: scale(0.25) translateY(900px) translateX(-700px) rotateZ(-110deg);
            transform: scale(0.25) translateY(900px) translateX(-700px) rotateZ(-110deg);
  }
  100% {
    -webkit-transform: translateY(-50px) translateX(120px) rotateZ(30deg);
            transform: translateY(-50px) translateX(120px) rotateZ(30deg);
  }
}
/*# sourceMappingURL=style.css.map */