@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

* {
    margin-top: 0;
  }
body{
    margin: 0;
    font-family: 'Inria Sans', sans-serif;
    background: #FFDCAB;
    font-size: 18px;
    height: 100vh;
    background-size: cover;
    background-image: url(../svg/background.svg);
    background-attachment: fixed;
 
}

/*
*   Responsive & static RN
*/
.container{
    .header{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .siteName{
            p {
                padding-top: 10px;
                font-size: 40px;
                margin: 0 auto;
                background-color: #ffffff;
                border-bottom: #000000 3px solid;
                color: rgb(0, 0, 0);
                font-family: 'Bebas Neue', cursive;
            }
        }
        .navbar{
            animation:scale-up-center 0.4s;
            padding-block: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .navlink{
                color: black;
                text-decoration: none;
                font-family: 'Bebas Neue', cursive;
                font-size: 25px;
                margin: 0.3em ;
                padding: 5px;
                background-color: #FBC904;
                border: rgb(0, 0, 0) 3px solid;
                border-radius: 5px;
                box-shadow: 3px 3px 0px rgb(0, 0, 0);
                transition: 0.3s;
                &:hover{
                    background-color: #fba504;
                    box-shadow: 1px 1px 0px rgb(0, 0, 0);

                }
            }
        }
        
    }
    .homepage{
        margin: 0 auto;
        text-align: center;
        
        .body{
    
            padding-inline: 5%;
            display: flex;
            flex-direction: column;
            .main{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                animation:scale-up-center 0.4s;
    
                .welcomeText{  
                    h1{
                        padding: 2%;
                        font-family: 'Bebas Neue', cursive;
                        font-size: 50px;
                        font-weight: lighter;
                        text-align: center;
                        border: black 2px solid;
                        background-color: whitesmoke;
                        // border-radius: 5px;
                        box-shadow: 5px 5px 0px rgb(0, 0, 0);
                    }
                }
                // Media queries ?
                .book{
                    display: none;
                }
            }
            .checkButton{
                padding-block: 10px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                animation:scale-up-center 0.4s;
                .arrow{
                    transform: rotateX(180deg) rotateZ(10deg) translateX(-30px) translateY(30px);
                    path{
                        stroke-dasharray: 1000;
                        stroke-dashoffset: 0;
                        animation: dash 5s linear infinite ;
                    }
                }
                .checkLink{
                    font-family: 'Bebas Neue', cursive;
                    font-size: 35px;
                    font-weight: lighter;
                    border: black 4px solid;
                    background-color: #EBB0F6;
                    color: black;
                    border-radius: 5px;
                    text-decoration: none;
                    box-shadow: 5px 5px 0px rgb(0, 0, 0);
                    transform: rotateZ(-8deg) translateX(-50px);
                    animation: default_anim 3s linear infinite alternate;
                    padding-inline: 0px;
                    // @include key_frame("moving");
    
                    
                }
            }
            .side{
                animation:scale-up-center 0.4s;
    
                padding-block: 50px;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                .informations{
                    p{
                        margin: 5%;
                    }
                }
                .separator{
                    width: 100%;
                    hr{
                        border: 0;
                        border: 1px solid #000000;
                        width: 100%;
                    }
                }
                .news{
                    flex-direction: column;
                    .first{
                        margin: 5%;
                        text-align: left;
    
                        .newsTitle{
                            padding-inline: 5%;
    
                            // text-align: center;
    
                            font-family: 'Bebas Neue', cursive;
                            font-size: 25px;
                            border-bottom: black 4px solid;
                            background-color: #CEF4AE;
                            color: black;
                        }
                        .contentNews{
                            padding-inline: 5%;
                            .subTitleNews{
                                text-align: left;
                                font-family: 'Bebas Neue', cursive;
                                font-size: 30px;
                                color: black;
                            }
                        }
                        border: black 4px solid;
                        background-color: #ffffff;
                        color: black;
                        border-radius: 5px;
                        box-shadow: 5px 5px 0px rgb(0, 0, 0);
                    }
                    .second{
                        margin: 5%;
                        text-align: left;
                        .newsTitle{
                            padding-inline: 5%;
                            font-family: 'Bebas Neue', cursive;
                            font-size: 25px;
                            border-bottom: black 4px solid;
                            background-color: #B7ECEC;
                            color: black;
                        }
                        .contentNews{
                            padding-inline: 5%;
                            .subTitleNews{
                                text-align: left;
                                font-family: 'Bebas Neue', cursive;
                                font-size: 30px;
                                color: black;
                            }
                        }
                        
                        border: black 4px solid;
                        background-color: #ffffff;
                        color: black;
                        border-radius: 5px;
                        box-shadow: 5px 5px 0px rgb(0, 0, 0);
                    }
                }
            }
        }
        
    }
    /** ABOUT Page**/
    .about{
        transform-style: preserve-3d;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .profile{
            margin: 0 auto;
            
            .lines{
                width: 50px;
                animation: blink 1s steps(2, start) infinite;

            }
            .bubble{
                text-align: center;
                // position: relative;
                margin-left: 0px;
                margin-top: -120px;
                
            }

        }
        .formation{

            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            
            margin: 5%;
            width: auto;
            .first{
                margin: 5%;
                height: 50;
                padding: 10px;
                border: black 4px solid;
                border-radius: 5px;
                box-shadow: 5px 5px 0px rgb(0, 0, 0);
                background-color: #B926D1;
                background-image: url(../svg/about/hexagon.svg);
                background-repeat: no-repeat;
                background-position: right bottom;
                color: #E3F1FC;
                p{
                    font-size: 20px;
                }
            }
            .second:before{
                position: absolute;
            }
            .second{
                perspective: 10px;
                perspective-origin: 0%;
                overflow-x: hidden;
                overflow-y: scroll;
                position: relative;
                margin: 5%;
                height: 50;
                padding: 10px;
                border: black 4px solid;
                border-radius: 5px;
                box-shadow: 5px 5px 0px rgb(0, 0, 0);
                background-color: #B926D1;
                background-image: url(../svg/about/hexagon.svg);
                background-repeat: no-repeat;
                background-position: right bottom;
                color: #E3F1FC;
                p{
                    font-size: 20px;
                }
                .hexagon{
                    position: absolute;
                    transform:  translateZ(10px) scale(2);  
                    height: 50vh;        
                }
               
            }
            
        }
        
    }
      .parallax {
        perspective: 1px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
      }
      .parallax__layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .parallax__layer--base {
        transform: translateZ(0);
      }
      .parallax__layer--back {
        transform: translateZ(-1px);
      }
    
}

// Animation | Keyframe

//HOMEPAGE

@keyframes default_anim {
    0% {
        
        transform : rotateZ(-8deg) translateX(-50px) translateY(0px);
        box-shadow: 5px 5px 0px rgb(0, 0, 0);
    }
    100% {
        transform : rotateZ(-8deg) translateX(-50px) translateY(5px);

        box-shadow: 10px 10px 0px rgb(0, 0, 0);
    }
}
@keyframes dash{

to {
    stroke-dashoffset: 2000;
  }
    
}

@keyframes scale-up-center{

    0%{
        transform:scale(.5)
        
    }
    
    100%{
        transform:scale(1)
    } 
}

//ABOUT

@keyframes blink {
    0%{
        transform:   scale(0.25) translateY(900px) translateX(-700px) rotateZ(-110deg)  ;
    }
    
    100%{
        transform:   translateY(-50px)translateX(120px)  rotateZ(30deg) ;
    }
}