@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");
@font-face {
  font-family: 'Mabry Pro';
  src: URL("../font/Mabry-Pro-Medium.ttf") format("truetype");
}

* {
  margin-top: 0;
}

body {
  margin: 0;
  font-family: 'Inria Sans', sans-serif;
  background: #FFDCAB;
  font-size: 18px;
  height: 100vh;
  background-size: cover;
  background-image: url(../svg/background.svg);
  background-attachment: fixed;
  overflow-x: hidden;
  line-height: 1.4;
  letter-spacing: 0.005em;
}

/*
*   Responsive & static RN
*/
.container .header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .header .siteName p {
  padding-top: 10px;
  font-size: 40px;
  margin: 0 auto;
  background-color: #ffffff;
  border-bottom: #000000 3px solid;
  color: black;
  font-family: 'Bebas Neue', cursive;
}

.container .header .navbar {
  -webkit-animation: scale-up-center 0.4s;
          animation: scale-up-center 0.4s;
  padding-block: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .header .navbar .navlink {
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  margin: 0.3em;
  padding: 5px;
  background-color: #FBC904;
  border: black 3px solid;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 0px black;
          box-shadow: 3px 3px 0px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .header .navbar .navlink:hover {
  background-color: #fba504;
  -webkit-box-shadow: 1px 1px 0px black;
          box-shadow: 1px 1px 0px black;
}

.container .header .navbar .lngButton {
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  margin: 0.3em;
  padding: 5px;
  background-color: #FBC904;
  border: black 3px solid;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 0px black;
          box-shadow: 3px 3px 0px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .header .navbar .lngButton:hover {
  background-color: #fba504;
  -webkit-box-shadow: 1px 1px 0px black;
          box-shadow: 1px 1px 0px black;
}

.container .header .navbar .lngButton .flag {
  color: black;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 15px;
  margin: 0.3em;
}

.container .footer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Bebas Neue', cursive;
  background-color: white;
  border-top: black 2px solid;
}

.container .footer .socialNetwork {
  margin: 1.5% 30% 0% 30%;
}

.container .footer .socialNetwork .socialNetworkIcon {
  margin: 0.1em;
  font-size: 40px;
}

.container .footer .siteName {
  margin: 1.5% 30% 0% 30%;
}
/*# sourceMappingURL=style.css.map */