@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');
@font-face{
    font-family: 'Mabry Pro';
    src: URL('../font/Mabry-Pro-Medium.ttf') format('truetype');
}
* {
    margin-top: 0;
  }
body{
    margin: 0;
    font-family: 'Inria Sans', sans-serif;
    background: #FFDCAB;
    font-size: 18px;
    height: 100vh;
    background-size: cover;
    background-image: url(../svg/background.svg);
    background-attachment: fixed;
 
}

/*
*   Responsive & static RN
*/
.container{
    .header{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .siteName{
            p {
                padding-top: 10px;
                font-size: 40px;
                margin: 0 auto;
                background-color: #ffffff;
                border-bottom: #000000 3px solid;
                color: rgb(0, 0, 0);
                font-family: 'Bebas Neue', cursive;
            }
        }
        .navbar{
            animation:scale-up-center 0.4s;
            padding-block: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .navlink{
                cursor: pointer; 

                color: black;
                text-decoration: none;
                font-family: 'Bebas Neue', cursive;
                font-size: 25px;
                margin: 0.3em ;
                padding: 5px;
                background-color: #FBC904;
                border: rgb(0, 0, 0) 3px solid;
                border-radius: 5px;
                box-shadow: 3px 3px 0px rgb(0, 0, 0);
                transition: 0.3s;
                &:hover{
                    background-color: #fba504;
                    box-shadow: 1px 1px 0px rgb(0, 0, 0);
                }
            }
            .lngButton{
                cursor: pointer; 

                color: black;
                text-decoration: none;
                font-family: 'Bebas Neue', cursive;
                font-size: 25px;
                margin: 0.3em ;
                padding: 5px;
                background-color: #FBC904;
                border: rgb(0, 0, 0) 3px solid;
                border-radius: 5px;
                box-shadow: 3px 3px 0px rgb(0, 0, 0);
                transition: 0.3s;
                &:hover{
                    background-color: #fba504;
                    box-shadow: 1px 1px 0px rgb(0, 0, 0);
                }
                .flag{
                    color: black;
                    text-decoration: none;
                    font-family: 'Bebas Neue', cursive;
                    font-size: 15px;
                    margin: 0.3em ;
                    
                }
            }
            
        }
    }
    .footer{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Bebas Neue', cursive;
        background-color: white;
        border-top: rgb(0, 0, 0) 2px solid;
        .siteName{
            margin-top: 2rem;
        }
        .footerLink{
            margin-top: 2rem;

            .navlink{
                margin: 1rem;
                font-size: 22px;
            }
            .navlink:visited{
                color: #000000;
            }
        }
    }
}