.homepage {
  margin: 0 auto;
  text-align: center;
}

.homepage .body {
  padding-inline: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homepage .body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: scale-up-center 0.4s;
          animation: scale-up-center 0.4s;
}

.homepage .body .main .welcomeText h1 {
  padding: 2%;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
  border: black 2px solid;
  background-color: whitesmoke;
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
}

.homepage .body .main .book {
  display: none;
}

.homepage .body .checkButton {
  padding-block: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: scale-up-center 0.4s;
          animation: scale-up-center 0.4s;
}

.homepage .body .checkButton .arrow {
  -webkit-transform: rotateX(180deg) rotateZ(10deg) translateX(-30px) translateY(30px);
          transform: rotateX(180deg) rotateZ(10deg) translateX(-30px) translateY(30px);
}

.homepage .body .checkButton .arrow path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  -webkit-animation: dash 5s linear infinite;
          animation: dash 5s linear infinite;
}

.homepage .body .checkButton .checkLink {
  padding-inline: 1%;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  font-weight: lighter;
  border: black 4px solid;
  background-color: #EBB0F6;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
  -webkit-transform: rotateZ(-8deg) translateX(-50px);
          transform: rotateZ(-8deg) translateX(-50px);
  -webkit-animation: default_anim 3s linear infinite alternate;
          animation: default_anim 3s linear infinite alternate;
}

.homepage .body .side {
  -webkit-animation: scale-up-center 0.4s;
          animation: scale-up-center 0.4s;
  padding-block: 50px;
}

.homepage .body .side .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1200px) {
  .homepage .body .side .news {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (max-width: 1199px) {
  .homepage .body .side .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 481px) {
  .homepage .body .side .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.homepage .body .side .news .informations p {
  padding: 5%;
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
  padding-inline: 1.2rem 1.5rem;
  background-color: #EBB0F6;
  border: #000000 solid 2px;
  border-radius: 3px;
  font-size: 1.5rem;
  font-family: 'Mabry pro', sans-serif;
  color: #000000;
  line-height: 1.4;
  letter-spacing: 0.005em;
}

@media only screen and (min-width: 1200px) {
  .homepage .body .side .news .informations p {
    margin-top: 20%;
    width: auto;
  }
}

@media only screen and (max-width: 1199px) {
  .homepage .body .side .news .informations p {
    margin: 5% auto;
    width: 70%;
  }
}

@media only screen and (max-width: 481px) {
  .homepage .body .side .news .informations p {
    margin: 5% auto;
    width: 70%;
  }
}

.homepage .body .side .news .first {
  text-align: left;
  border: black 4px solid;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
}

@media only screen and (min-width: 1200px) {
  .homepage .body .side .news .first {
    width: 30%;
    margin: 5%;
    min-width: 300px;
  }
}

@media only screen and (max-width: 1199px) {
  .homepage .body .side .news .first {
    width: 50%;
    margin: 5% auto;
  }
}

@media only screen and (max-width: 481px) {
  .homepage .body .side .news .first {
    width: auto;
    min-width: 50px;
    margin: 5%;
  }
}

.homepage .body .side .news .first .newsTitle {
  padding-inline: 1.2rem 1.5rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: 0.005em;
  border-bottom: black 4px solid;
  background-color: #CEF4AE;
  color: black;
}

.homepage .body .side .news .first .contentNews {
  padding-inline: 1.2rem 1.5rem;
}

.homepage .body .side .news .first .contentNews .subTitleNews {
  text-align: left;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: black;
}

@media only screen and (min-width: 1200px) {
  .homepage .body .side .news .first .contentNews .textNews {
    margin: 10% auto;
  }
}

@media only screen and (max-width: 1199px) {
  .homepage .body .side .news .first .contentNews .textNews {
    margin: 5% auto;
  }
}

@media only screen and (max-width: 481px) {
  .homepage .body .side .news .first .contentNews .textNews {
    margin: 5% auto;
  }
}

.homepage .body .side .news .first .contentNews .quizzLink {
  text-align: right;
  color: black;
}

.homepage .body .side .news .second {
  text-align: left;
  border: black 4px solid;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
}

@media only screen and (min-width: 1200px) {
  .homepage .body .side .news .second {
    width: 30%;
    margin: 5%;
    min-width: 300px;
  }
}

@media only screen and (max-width: 1199px) {
  .homepage .body .side .news .second {
    width: 50%;
    margin: 5% auto;
  }
}

@media only screen and (max-width: 481px) {
  .homepage .body .side .news .second {
    width: auto;
    margin: 5%;
  }
}

.homepage .body .side .news .second .newsTitle {
  padding-inline: 1.2rem 1.5rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  border-bottom: black 4px solid;
  background-color: #B7ECEC;
  color: black;
}

.homepage .body .side .news .second .contentNews {
  padding-inline: 1.2rem 1.5rem;
}

.homepage .body .side .news .second .contentNews .subTitleNews {
  text-align: left;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: black;
}

@media only screen and (min-width: 1200px) {
  .homepage .body .side .news .second .contentNews .textNews {
    margin: 10% auto;
  }
}

@media only screen and (max-width: 1199px) {
  .homepage .body .side .news .second .contentNews .textNews {
    margin: 5% auto;
  }
}

@media only screen and (max-width: 481px) {
  .homepage .body .side .news .second .contentNews .textNews {
    margin: 5% auto;
  }
}

.homepage .body .side .news .second .contentNews .weatherLink {
  text-align: right;
  color: black;
}

@-webkit-keyframes default_anim {
  0% {
    -webkit-transform: rotateZ(-8deg) translateX(-50px) translateY(0px);
            transform: rotateZ(-8deg) translateX(-50px) translateY(0px);
    -webkit-box-shadow: 5px 5px 0px black;
            box-shadow: 5px 5px 0px black;
  }
  100% {
    -webkit-transform: rotateZ(-8deg) translateX(-50px) translateY(5px);
            transform: rotateZ(-8deg) translateX(-50px) translateY(5px);
    -webkit-box-shadow: 10px 10px 0px black;
            box-shadow: 10px 10px 0px black;
  }
}

@keyframes default_anim {
  0% {
    -webkit-transform: rotateZ(-8deg) translateX(-50px) translateY(0px);
            transform: rotateZ(-8deg) translateX(-50px) translateY(0px);
    -webkit-box-shadow: 5px 5px 0px black;
            box-shadow: 5px 5px 0px black;
  }
  100% {
    -webkit-transform: rotateZ(-8deg) translateX(-50px) translateY(5px);
            transform: rotateZ(-8deg) translateX(-50px) translateY(5px);
    -webkit-box-shadow: 10px 10px 0px black;
            box-shadow: 10px 10px 0px black;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 2000;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 2000;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=homepage.css.map */