.homepage{
    margin: 0 auto;
    text-align: center;
    
    .body{

        padding-inline: 5%;
        display: flex;
        flex-direction: column;
        .main{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            animation:scale-up-center 0.4s;

            .welcomeText{  
                h1{
                    padding: 2%;
                    font-family: 'Bebas Neue', cursive;
                    font-size: 50px;
                    font-weight: lighter;
                    text-align: center;
                    border: black 2px solid;
                    background-color: whitesmoke;
                    // border-radius: 5px;
                    box-shadow: 5px 5px 0px rgb(0, 0, 0);
                }
            }
            // Media queries ?
            .book{
                display: none;
            }
        }
        .checkButton{
            padding-block: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            animation:scale-up-center 0.4s;
            .arrow{
                transform: rotateX(180deg) rotateZ(10deg) translateX(-30px) translateY(30px);
                path{
                    stroke-dasharray: 1000;
                    stroke-dashoffset: 0;
                    animation: dash 5s linear infinite ;
                }
            }
            .checkLink{
                font-family: 'Bebas Neue', cursive;
                font-size: 35px;
                font-weight: lighter;
                border: black 4px solid;
                background-color: #EBB0F6;
                color: black;
                border-radius: 5px;
                text-decoration: none;
                box-shadow: 5px 5px 0px rgb(0, 0, 0);
                transform: rotateZ(-8deg) translateX(-50px);
                animation: default_anim 3s linear infinite alternate;
                padding-inline: 0px;
                // @include key_frame("moving");

                
            }
        }
        .side{
            animation:scale-up-center 0.4s;

            padding-block: 50px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            .informations{
                p{
                    margin: 5%;
                }
            }
            .separator{
                width: 100%;
                hr{
                    border: 0;
                    border: 1px solid #000000;
                    width: 100%;
                }
            }
            .news{
                flex-direction: column;
                .first{
                    margin: 5%;
                    text-align: left;

                    .newsTitle{
                        padding-inline: 5%;

                        // text-align: center;

                        font-family: 'Bebas Neue', cursive;
                        font-size: 25px;
                        border-bottom: black 4px solid;
                        background-color: #CEF4AE;
                        color: black;
                    }
                    .contentNews{
                        padding-inline: 5%;
                        .subTitleNews{
                            text-align: left;
                            font-family: 'Bebas Neue', cursive;
                            font-size: 30px;
                            color: black;
                        }
                    }
                    border: black 4px solid;
                    background-color: #ffffff;
                    color: black;
                    border-radius: 5px;
                    box-shadow: 5px 5px 0px rgb(0, 0, 0);
                }
                .second{
                    margin: 5%;
                    text-align: left;
                    .newsTitle{
                        padding-inline: 5%;
                        font-family: 'Bebas Neue', cursive;
                        font-size: 25px;
                        border-bottom: black 4px solid;
                        background-color: #B7ECEC;
                        color: black;
                    }
                    .contentNews{
                        padding-inline: 5%;
                        .subTitleNews{
                            text-align: left;
                            font-family: 'Bebas Neue', cursive;
                            font-size: 30px;
                            color: black;
                        }
                    }
                    
                    border: black 4px solid;
                    background-color: #ffffff;
                    color: black;
                    border-radius: 5px;
                    box-shadow: 5px 5px 0px rgb(0, 0, 0);
                }
            }
        }
    }
    
}

// Animation | Keyframe

//HOMEPAGE

@keyframes default_anim {
    0% {
        
        transform : rotateZ(-8deg) translateX(-50px) translateY(0px);
        box-shadow: 5px 5px 0px rgb(0, 0, 0);
    }
    100% {
        transform : rotateZ(-8deg) translateX(-50px) translateY(5px);

        box-shadow: 10px 10px 0px rgb(0, 0, 0);
    }
}
@keyframes dash{

to {
    stroke-dashoffset: 2000;
  }
    
}

@keyframes scale-up-center{

    0%{
        transform:scale(.5)
        
    }
    
    100%{
        transform:scale(1)
    } 
}