@mixin devices($breakpoint){
    @if $breakpoint == laptop {
        @media only screen and (min-width: 1280px){
            @content
        }
    };
    @if $breakpoint == tablet {
        @media only screen and (min-width: 769px) and (max-width:1279px) {
            @content
        }
    };
    @if $breakpoint == mobile {
        @media only screen  and (max-width:768px) {
          @content;
        }
    }
}
.contact{
    font-size: 1.188rem;
    font-weight: normal;   
    font-family: 'Mabry pro', sans-serif;
    line-height: 1.4;
    letter-spacing: 0.005em;
    width: 100%;
    display: flex;
    justify-content: center;
    border-block: 2px solid black;
    background-color: #eecbff;

    @include devices(laptop) {
        flex-direction: row;
    }
    @include devices(tablet) {
        flex-direction: column;
    }
    @include devices(mobile) {
        flex-direction: column;
    }
    .contactText{
        @include devices(laptop) {
            width: 50%;
            height: 3rem;
            padding: 5% 5% 15% 5%;
            background: 
                linear-gradient(to right, transparent 30%, rgb(0, 0, 0) 30%, rgb(0, 0, 0) 70%, transparent 70%) 0 100% / 100% 1px no-repeat,
                linear-gradient(to bottom, transparent 30%, rgb(0, 0, 0) 30%, rgb(0, 0, 0) 70%, transparent 70%) 100% 0 / 1px 100% no-repeat;
        }
        @include devices(tablet) {
            width: auto;
            padding: 5% 5% 5% 5%;
            background: 
                        linear-gradient(to right, transparent 30%, rgb(0, 0, 0) 30%, rgb(0, 0, 0) 70%, transparent 70%) 0 100% / 100% 1px no-repeat,
        }
        @include devices(mobile) {
            width: auto;
            padding: 5% 5% 5% 5%;
            background: 
            linear-gradient(to right, transparent 30%, rgb(0, 0, 0) 30%, rgb(0, 0, 0) 70%, transparent 70%) 0 100% / 100% 1px no-repeat,
        }
        h2{
            text-align: left;
            font-weight: normal;   
            font-family: 'Mabry pro', sans-serif;
            line-height: 1.4;
            letter-spacing: 0.005em;
            @include devices(laptop) {
                font-size: 1.5vw;
            }
            @include devices(tablet) {
                font-size: 3vw;
            }
            @include devices(mobile) {
                font-size: 3vw;
            }
        }
    }
    
    .contactForm{
        background: 
            linear-gradient(to bottom, transparent 65%, rgb(0, 0, 0) 65%, rgb(0, 0, 0) 90%, transparent 90%) 0 0 / 1px 100% no-repeat;
        @include devices(laptop) {
            width: 50%;
            padding-top: 10%;
        }
        @include devices(tablet) {
            width: auto;
            text-align: center;
        }
        @include devices(mobile) {
            width: auto;
        }
        div{
            padding-top: 5%;
            padding-left: 5%;
        }
        label{
            display: inline-block;
            float: left;
            clear: left;
            width: 30%;
            text-align: right;
            padding: 0.5rem;
            
        }
        input, select, option, textarea{
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 2px 2px 0px rgb(0, 0, 0);
            padding:0.55rem 1rem;
            width: 35%;
            font-size: 0.998rem;
            font-weight: normal;   
            font-family: 'Mabry pro', sans-serif;
            line-height: 1.4;
            letter-spacing: 0.005em;
        }
        .questionTextArea{
            display: inline-block;
            float: left;
            margin-bottom: 5px;
            height: 80px;
            width:  500px;
            resize: vertical;
        }
        .submitQuestion{
            margin-block: 3%;
            max-width: 20%;
        }
    }
}